<template>
  <div>
    <Error :error="error"></Error>
  </div>
</template>

<script>
import { OidcClient } from 'oidc-client'
import error from '@baserow/modules/core/mixins/error'

export default {
  mixins: [error],
  head() {
    return {
      title: 'Login',
    }
  },
  mounted() {
    const settings = {
      authority: 'https://id-qa.containerize.com',
      client_id: 'staging.containerize.baserow',
      redirect_uri: 'https://baserow.apps.dynabic.com/login',
      post_logout_redirect_uri: 'https://baserow.apps.dynabic.com/login',
      response_type: 'id_token token',
      scope: 'openid email roles',
      filterProtocolClaims: true,
      loadUserInfo: false,
    }
    const client = new OidcClient(settings)

    if (process.browser && window.location.hash) {
      client
        .processSigninResponse()
        .then(function (response) {
          // console.log('signin response', response)
          const email = response.profile.sub
          // console.log(email)
          sessionStorage.setItem('email', email)
        })
        .catch(function (err) {
          console.log(err)
        })
      this.login()
    } else {
      client
        .createSigninRequest({ state: { bar: 15 } })
        .then(function (req) {
          window.location = req.url
        })
        .catch(function (err) {
          console.log(err)
        })
    }
  },
  methods: {
    async login() {
      try {
        await this.$store.dispatch('auth/login', {
          email: sessionStorage.getItem('email'),
          password: 'baserow123',
        })
        // console.log('login success')
        this.$nuxt.$router.push({ name: 'dashboard' })
      } catch (error) {
        // console.log('error', error)
        if (error.handler) {
          const response = error.handler.response
          // Because the API server does not yet respond with proper error codes we
          // manually have to add the error here.
          if (response && response.status === 400) {
            // In the future we expect the backend to respond with a proper error code
            // to indicate what went wrong.
            if (response.data.non_field_errors) {
              this.showError(
                'Incorrect credentials',
                'The provided e-mail address is incorrect.'
              )
            }
          }
        }
      } // end of catch
    },
  },
}
</script>